body    {
    background-color: #314029;
    color: wheat;
}

.title-img  {
    border-radius: 30%;
}

/* HYPERLINK STYLES */
a:link  {
    color: wheat;
}

a:visited   {
    color: #192b10;
}

a:hover {
    color:wheat;
}